nav {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-bottom: 1px solid #E4E4E4;
}

nav .container {
    flex-grow: 1;
}


#skool-nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

#skool-nav .skool-nav-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#skool-nav .skool-nav-item input {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;
    min-height: unset;
    border: 0px;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(32, 33, 36);
    line-height: 1.5;
}

#skool-nav #search-bar input[type="text"] {
    padding-left: 60px;
    width: 600px;
    box-sizing: border-box;
}

#skool-nav #search-bar img {
    position: absolute;
    left: 17px;
    height: 18px;
    pointer-events: none;
}

#skool-nav input:active,
#skool-nav input:focus {
    border: 0px;
    outline: none;
}

#skool-nav .skool-nav-item #community-name {
    font-size: 18px;
    font-weight: 500;
}

#community-nav {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #909090;
    padding-top: 20px;
}

#community-nav .community-nav-item {
    text-decoration: none;
    color: inherit;
    height: 32px;
    border-bottom: 5px solid #fff;
}

#community-nav .community-nav-item.active {
    color: #000;
    border-bottom: 5px solid #000;
}

#community-nav .community-nav-item:hover {
    color: #000;
    cursor: pointer;
}

#skool-nav img[src$=".svg"] {
    fill: #909090;
    width: 24px;
    height: 24px;
}

#skool-nav .skool-nav-item #community-logo {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

#skool-nav .skool-nav-item #profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}